
<!-- <h1 *ngFor='let item of collection'></h1>
<a routerLink="/update/{{item._id}}"></h1> -->
<h1>Profile Page</h1>





































<!-- <div class="col-11 container-fluid bg-dark text-primary border border-primary border-2 rounded text-center"
    style='margin-top:6.1px; box-shadow:10px 20px 100px 50px tomato'>
    <div
      class="row text-center border rounded border-info border-2 m-5 p-0 d-inline-flex ms-2 me-2 justify-content-flex-start"> -->

<!-- 1 -->
<!-- <div class="col-12 py-0 text-center">
    <a href="/">
      <img class='rounded-circle' src="static\uploads\{{current_user.pic}}" width=110px height=110px>
      <p>
        <h1>{{message}}</h1>
      </p>
    </a>
  </div> -->
  <!-- 2 -->
  <!-- <div class="col-12 py-0">
    <form>
      <div>
        <input style="padding-left:75px" type="file" name="pic" accept=""></input>
      </div>

      <div class="text-center my-2">
        <button type="submit" class="btn btn-primary my-3 border"><i class="fas fa-camera me-2"></i>Update Profile
          Pic</button>
      </div>
    </form>
  </div>
  3
  <div class='text-start fs-2 offset-1'>
    <form>
      <div class="py-1 col-10">
        <label for="inputCity" class="form-label">User Name</label>
        <input type="text" class="form-control" id="inputCity" placeholder="User Name" name='uname'>
      </div>
      <div class="col-10 py-3 ">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name='email'>
      </div>
      <div class="col-11 text-start offset-0">
        <button type="submit" class="btn btn-primary my-3 text-center ps-2 offset-0 border">UpdateInfo</button>
      </div>
    </form>
  </div> -->

<!-- </div>
</div> -->